<form method="POST">
    <button type="submit" id="loginB">LOG IN</button>
    <input type="email" id="email" required name="email">Email
    <input type="password" id="password" required name="password">Password
</form>
 {{#if err}}
    <p>ERROR IN LOGIN UNFORTUNATELY PEANUTBUTTER</p>
   {{/if}}