<h1>Petition 🧖</h1>

<form method="POST">
    

    <input id="signature" type="hidden" name="signature">

    <canvas id="canvas" width="500" height="100" name="canvas"></canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button id="button" type="submit">SUBMIT</button>
</form>
    {{#if err}}
    <p>ERROR UNFORTUNATELY PEANUTBUTTER</p>
   {{/if}}
   {{> header }}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="canvas.js"></script>

