<div class="container-petition">
<div id="text-petition">
<h1>You have already come so far, thank you!</h1>
<h2>Let us know that you have magical powers, sign here with your wand</h2>
</div>

<div id="petition">
<form method="POST">
    

    <input id="signature" type="hidden" name="signature">

    <canvas id="canvas" width="600" height="150" name="canvas"></canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</div>

    <button id="registerB" type="submit">ALHOMORA</button>

</form>
<img id="clapping1" src="https://media.giphy.com/media/PXvCWUnmqVdks/giphy.gif" alt="McGonagall">

<img id="clapping2" src="https://media.giphy.com/media/8l1UFvNSS5SwM/giphy.gif" alt="Snape">
    {{#if err}}
    <p>⚡️*Appare Vestigium*⚡️ something went wrong, please try again</p>
   {{/if}}
   {{> header }}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="canvas.js"></script>

</div>