<form method="POST">
    <input type="text" id="age" name="age">age
    <input type="text" id="city" name="city">city
    <input type="text" id="url" name="url">url


    <button type="submit" id="registerB">SUBMIT</button>
</form>
 {{#if err}}
    <p>ERROR IN profile UNFORTUNATELY PEANUTBUTTER</p>
   {{/if}}

