<div class="container-profile">

  <div id="text-profile">
    <h1> Please tell us your age, location and url so we know who you are and where to send the letters to.</h1>

<form method="POST">

  <div id="profile">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="text" id="age" placeholder="11" name="age">
    <input type="text" id="city" placeholder="Hogsmeade" name="city">
    <input type="text" id="url" placeholder="www.hogwarts.com" name="url">

  </div>

    <button type="submit" id="registerProfile">ALOHOMORA</button>
</form>
<img id="hedwig1" src="https://media.giphy.com/media/M9YqO5o5kA9tbiaihF/giphy.gif" alt="Hedwig flying">
 {{#if err}}
    <p>⚡️*Appare Vestigium*⚡️ something went wrong, please try again</p>
   {{/if}}
<img id="hedwig2" src="https://media.giphy.com/media/GteOKFcMVVRkc/giphy.gif" alt="Hedwig 2">

{{> header }}
  </div>
</div>
