<h1>Thank you for signing the awesome petition</h1>

<h2>Here you see your handtekening </h2>

<img src="{{img}}" alt="siggywigyy">

<h1>See how many people signed before you: {{count}}</h1>
<h2>Click <a href="/signers">here</a> to see who those people were</h2>

<form method="POST">
    <button type="submit">DELETE SIGNATURE</button>
</form>

{{> header }} 
{{!-- maak edit --}}

{{!-- 
<a href="/signers">See who saind</a> --}}