<h1>Thank you for signing the awesome petition</h1>

<h2>Here you see your handtekening </h2>

<img src="{{img}}" alt="siggywigyy">

<h1>See how many people signed before you: {{count}}</h1>

{{!-- 
<a href="/signers">See who saind</a> --}}