<div class="container-thanks">

<div id="text-thanks">
<h1>We thank you</h1>

<h2>Proof that you're not a muggle: </h2>

<img src="{{img}}" alt="siggywigyy">

<h3> {{count}} wizards or witches signed before you</h3>

<h4>Click <a href="/signers">here</a> to see if you know any of them</h4>

</div>


<div id="thanks">
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    
    <button type="submit">AVADA KEDAVRA</button>
</form>
</div>
    <a id="edit" href="/edit">edit your profile</a>

{{> header }} 

</div>
