* {
    margin: 0;
    font-family: poppins;
    background-color: transparent;
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}
/* register page */
.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-register {
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#register {
    align-items: center;
}

#register input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 800;
}

#goToLogin {
    /* border: 3px solid black; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    bottom: 38%;
    left: 45%;
}

#imgRegister {
    position: fixed;
    bottom: 5%;
}

#errorRegister {
    position: absolute;
    top: 22%;
}

/* register page ends */
/* profile page */
.container-profile {
    /* border: black solid 3px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#text-profile {
    color: pink;
    text-align: center;
    margin-bottom: 15%;
    margin: 100px;
}

#profile input {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 800;
}

#profile form {
    /* width: 15%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerProfile {
    margin: 30px;
}

#hedwig1 {
    align-self: flex-start;
    position: fixed;
    left: 5%;
}

#hedwig2 {
    margin-left: auto;
    position: fixed;
    bottom: 15%;
    right: 5%;
}

/* profile page ends */
/* petition page */
.container-petition {
    border: black solid 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#text-petition {
    color: black;
    text-align: center;
    margin: 6%;
}

#petition form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#petition {
    /* border: 3px pink solid; */
    position: absolute;
    bottom: 45%;
}

#clapping1 {
    margin-left: auto;
    bottom: 8%;
    position: absolute;
    right: 4%;
}

#clapping2 {
    align-self: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 4%;
    bottom: 8%;
}

/* petition page ends */
/* thanks page */
.container-thanks {
    border: black solid 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./background1.jpg");
    background-size: cover;
}

#text-thanks {
    color: black;
    text-align: center;
    margin-bottom: 15%;
    margin: 5%;
}

#thanks {
    background-color: lightgray;
}

#thanks button {
    font-weight: 800;
}

#edit {
    background-color: transparent;
    color: lightgrey;
}
/* thanks page ends */
/* signers page */
.container-signers {
    background-image: url("./hogwarts.jpg");
    background-size: cover;
    border: 3px solid black;
    height: 100vh;
}

#text-signers {
    color: black;
    text-align: center;
    margin: 75px;
}

#signers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#back {
    font-weight: 800;
    margin: 30px;
}
/* signers page ends */
/* edit page */
.container-edit {
    background-image: url(./stars.jpg);
    object-fit: cover;
    height: 100vh;
    display: flex;
}

#text-edit {
    color: white;
    text-align: center;
    width: 100%;
    margin: 50px;
    margin-bottom: 30px;
}

#text-edit form {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-profile input {
    background-color: white;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 800;
    margin-top: 30px;
}

#editB {
    color: white;
}
/* edit page ends */
/* login page */
.container-login {
    background-image: url(./hello.jpg);
    object-fit: contain;
    height: 100vh;
}

#text-login {
    color: white;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;

}

#login {
    margin: 50px;
}

#loginB {
    color: white;
}

#loginA {
    color: white;
}

#login form {
     margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#login input {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 800;
    color: white;
}


/* login ends */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; /* Footer height */
    color: white;
}

canvas {
    background-color: #e8ffb7;
    border: 3px dotted black;
}
#signature {
    background-color: aqua;
}

.logoutButton {
    position: fixed;
    bottom: 10%;
    background-color: lightgrey;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%);
}

#registerB {
    width: 150px;
    border: dotted pink 5px;
    font-weight: 800;

    /* cursor: pointer; */
}
