* {
    background-color: transparent;
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}
/* register page */

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-register {
    color: pink;
    text-align: center;
}

#register {
    align-items: center;
}

#registerB {
    width: 150px;
    border: dotted pink 5px;
    position: absolute;
    bottom: 40%;
    left: 45%;
    /* cursor: pointer; */
}

#register > div {
    background-color: blue;
    display: flex;
    width: 500px;
    justify-content: center;
}

#register input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#goToLogin {
    /* border: 3px solid black; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    bottom: 40%;
    left: 45%;
}

#imgRegister {
    position: fixed;
    bottom: 5%;
}

#errorRegister {
    position: absolute;
    top: 22%;
}

/* register page ends */
/* profile page */
.container-profile {
    border: black solid 3px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#text-profile {
    color: pink;
    text-align: center;
    margin-bottom: 15%;
    margin: 12%;
}

#profile input {
    width: 33%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

profile > div {
    background-color: blue;
    display: flex;
    width: 500px;
    justify-content: center;
}

#hedwig1 {
    align-self: flex-start;
}

#hedwig2 {
    margin-left: auto;
    position: fixed;
    bottom: 15%;
    right: 5%;
}

/* profile page ends */
/* petition page */
.container-petition {
    border: black solid 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#text-petition {
    color: black;
    text-align: center;
    margin-bottom: 15%;
    margin: 12%;
}

#petition {
    border: 3px pink solid;
    position: absolute;
    bottom: 45%;
}

#clapping1 {
    margin-left: auto;
    bottom: 8%;
    position: absolute;
    right: 4%;
}

#clapping2 {
    align-self: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 4%;
    bottom: 8%;
}

/* petition page ends */
/* thanks page */
.container-thanks {
    border: black solid 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./background1.jpg");
    background-size: cover;

}

#text-thanks {
    color: black;
    text-align: center;
    margin-bottom: 15%;
    margin: 5%;
}

#thanks {
    background-color: lightgray;
}

/* thanks page ends */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; /* Footer height */
    color: white;
}

canvas {
    background-color: #e8ffb7;
    border: 3px dotted black;
}
#signature {
    background-color: aqua;
}

.logoutButton {
    position: absolute;
    bottom: 10%;
    background-color: lightgrey;

}
